<html>
<head>
	<meta charset="UTF-8">
	<title>Secret Santa (with a Twist)</title>
</head>
<body>
	<% if (!user) { %>
	<h3>Welcome to the Secret Santa Generator. Click the links below to login/sign up</h3>
		<a href="account/login">Log in</a> <br>
		<a href="account/signup">Sign up</a>
	<% } else { %>
	<h3>Welcome <%= user %></h3>
		<a href="account/logout">Log out</a>
		<br>
		<h4>Current Groups: </h4>
		<table class="groups">
			
		</table>
		<br>
		<h4 style="display: inline-block">Join Group: </h4> <input type="text" name="groupCode" placeholder="Insert Group Code Here"> <br>
		<a class="btn" id="join-group" type="submit" href="api/addToGroup">Join group</button>
		<p style="color: red">Invalid Entry</p>
	<%} %>
</body>
</html>