<html>
<head>
	<meta charset="UTF-8">
	<title>Sign up</title>
</head>
<body>
	<h3>Create New Account/Secret Santa Group</h3>
	<p>Create a new account below. If you are trying to join an existing group, enter the code below, otherwise leave it blank.</p> <br/>

	<form method="POST">
		First Name: <input type="text" name="firstName" placeholder="Jonny"> <br/>
		Last Name: <input type="text" name="lastName" placeholder="Appleseed"> <br/>
		Username: <input type="text" name="username" placeholder="Jonny123"> <br/>
		Password: <input type="password" name="password"> <br>
		<button type="submit">Sign up!</button>
	</form>
</body>
</html>