<html>
<head>
	<meta charset="UTF-8">
	<title>Welcome to the Secret Santa Generator</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
	body {
		background-image: url("../img/minimalistsplash.jpg");
		background-size:     cover;                     
    	background-repeat:   no-repeat;
    	background-position: center center;
    	color: white;
	}
	a {
		color: rgb(244,67,54,1);
	}
</style>

<body>
	<div class="container">
		<div class="text-center">
			<h3>Welcome to the Secret Santa Generator</h3> <br>
			<p>In this application, use our generator to randomly assign each person in your group a secret santa.</p> <br>
			<p>But, there is a <em>twist</em>.</p> <br>
			<p>No wish list may be used, but your "top pick" may be added anonymously to your group's top picks.</p>
			<p>Try and guess what your friend wanted along!</p>
		</div> <br>
		<div class="text-center">
			<a href="account/login">Log in</a> / <a href="account/signup">Sign up</a>
		</div>
	</div>
</body>
</html>